{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact Form</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <button type="submit">Validate</button>
    {{ form_end(form) }}
{% endblock %}
